<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>
<script src="{{ get_url(path='js/app.js') }}"></script>

<body>
  <section class="section">
    <div class="container">
      <div class="nav-btns">
        <!-- get_url ensures links include the right base path -->
        <a href="{{ get_url(path='') }}" class="nav-btn">🏠 Home</a>
        <a href="{{ get_url(path='blog/') }}" class="nav-btn">📝 Blog</a>
      </div>
      {% block content %}{% endblock content %}
    </div>
  </section>
</body>

</html>
